@import 'wikipedia-viewer.general.scss';

.wikipedia-viewer-input {
  input {
    height:60px;
    @include box-shadow-style;
  }

  input:focus,
  input:active,
  input:hover {
    @include box-shadow-style;
  }
} 